body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-tech {
    font-family: "Raleway", sans-serif
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}


.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.link-nav:hover {
    color: #404bbf;
}

.link-nav:focus {
    color: #404bbf;
}



.title {
    font-size: 36px
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize
    font-size: 36px;
    text-align: center;
    color: #2e2f42;
}

.main-title-page {
    background: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}


.list-address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}

.list-adress:hover {
    color: #404bbf;
    text-decoration: none;
}

.list-adress:focus {
    color: #404bbf;
    text-decoration: none;
}

.main-button {
    font-family: "Roboto", sans-serif
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer
    color: #fff;

}

.main-button:hover {
    background: #404bbf;
}

.main-button:focus {
    background-color: #404BBF
}


.list-benefits {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantage {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-section {
    background-color: #FFFFFF

  
}
.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}

.footer {
    letter-spacing: 0.02em;
    color:#F4F4FD;
    line-height: 1.5;

}
